body {
    background-image: url('../public/images/keybackgroundJPG1.jpg');
    /* max-height: 10vh; */
    background-attachment: fixed;
    font-family: "Special Elite", sans-serif;
    /* color:lime; */
    background-color: rgb(39, 39, 55);
}

/**************** LANDING and GAME LANDING ****************/

#landing, #game {
    font-family: "Sedgwick Ave Display", sans-serif;
    color:white;
    padding: 5rem;
    min-height: 98vh; 
    min-width: 98vw;
    /* max-height: 200px;
    max-width: 100px; */
    /* background-image: url('../public/images/gatePNG.png'); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    border: 2px solid white;
    border-radius: 1rem;
    /* margin: 5vh; */
    /* text-align: center; */
}

#landing h1, #game h1 {
    font-size: 10vw;
}

#landing h3, #game h3 {
    font-size: 7vw;
}

#landing p, #game p {
    color:white;
    font-size: 10vw;
    /* cursor: url('../public/images/question_pointerPNG.png'), grab; */
}



/****************  GAME  ****************/






/****************  SIGN UP OR LOG IN  ****************/

#signup-or-login{
    margin-top: 3vh;
    min-height: 98vh;
    min-width: 97vw;
}

#signUpForm {
    margin-left: 12vw;
    margin-right: 12vw;
}

#switch-signup-login:hover {
    text-decoration: underline;
    border-radius: 5px;
    /* color:black; */
    background-color: black;
    cursor:pointer;
}


/****************  FOOTER  ****************/
#footer {
    background-color: rgb(34, 34, 50);
    border: 2px solid rgb(34, 34, 50);
    color: white;
    position: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#editUserButton:hover {
    color:rgb(217, 145, 20);
    /* text-shadow: 2px 0px whitesmoke; */
    cursor: pointer;
}


#logOutButton:hover {
    color:rgb(217, 145, 20);
    /* text-shadow: 2px 0px whitesmoke; */
    cursor: pointer;
}