body {
    background-image: url('../public/images/keybackgroundJPG1.jpg');
    /* max-height: 10vh; */
    background-attachment: fixed;
    font-family: "Special Elite", sans-serif;
    /* color:lime; */
    background-color: rgb(39, 39, 55);
}

/**************** LANDING and GAME LANDING ****************/

.front-page {
    font-family: "Sedgwick Ave Display", sans-serif;
    color:white;
    /* padding: 5rem; */
    min-height: 98vh; 
    min-width: 98vw;
    /* max-height: 200px;
    max-width: 100px; */
    /* background-image: url('../public/images/landingPNG.png'); */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    border: 2px solid white;
    border-radius: 1rem;
    /* margin: 5vh; */
    /* text-align: center; */
}

.front-page-title {
    padding: 5rem;
}

.front-page h1 {
    font-size: 10vw;
}

.front-page h2 {
    font-size: 7vw;
}

.front-page p {
    color:white;
    font-size: 10vw;
    /* cursor: url('../public/images/question_pointerPNG.png'), grab; */
}



/****************  GAME  ****************/
#prologue {
    font-family: "Voces", sans-serif;
    
}

.dig-deeper {
    font-family: "Rock Salt", sans-serif;
    
}

/****************  GATE  ****************/
#gate {
    font-family: "Voces", sans-serif;
    background-image: url('../public/images/gatePNG3.png');
    background-size: 93% 90%;
    background-position: top left;
}


.bottom-bar {
    border-top: 2px solid white;
    border-radius: 1rem;

    background-color: rgb(41, 35, 56);
    height: auto;
}

.character-commentary {
    font-family: "Sriracha", sans-serif;
}

.main-gate {
    min-height: 75vh;
}

.hotbar {
    background-color: rgb(84, 74, 111);
    border-left: 5px ridge white;
    border-bottom: 7px ridge white;
    min-height: 14.3%;
}

.hint-box {
    /* margin: 10px; */
    /* max-height: 80%; */
    border: 5px ridge white;
}





/****************  SIGN UP OR LOG IN  ****************/

#signup-or-login{
    margin-top: 3vh;
    min-height: 98vh;
    min-width: 97vw;
}

#signUpForm {
    margin-left: 12vw;
    margin-right: 12vw;
}

#switch-signup-login:hover {
    text-decoration: underline;
    border-radius: 5px;
    /* color:black; */
    background-color: black;
    cursor:pointer;
}


/****************  FOOTER  ****************/
#footer {
    background-color: rgb(34, 34, 50);
    border: 2px solid rgb(34, 34, 50);
    color: white;
    position: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#editUserButton:hover {
    color:rgb(217, 145, 20);
    /* text-shadow: 2px 0px whitesmoke; */
    cursor: pointer;
}


#logOutButton:hover {
    color:rgb(217, 145, 20);
    /* text-shadow: 2px 0px whitesmoke; */
    cursor: pointer;
}