body {
    background-image: url('../public/images/keybackgroundJPG1.jpg');
    /* max-height: 10vh; */
    background-attachment: fixed;
    font-family: "Special Elite", sans-serif;
    /* color:lime; */
    background-color: rgb(39, 39, 55);
}

/**************** LANDING and GAME LANDING ****************/

#landing {
     background-image: url('../public/images/landingPNG.png'); 
}
.main-title {
    font-family: "Sedgwick Ave Display", sans-serif;
}

.front-page {
    /* this is the font for all the locations and the hotbar: */
    /* font-family: "Voces", sans-serif; */
    font-family: "Reem Kufi Fun", sans-serif;
    color:white;
    /* padding: 5rem; */
    min-height: 98vh; 
    min-width: 98vw;
    /* max-height: 200px;
    max-width: 100px; */
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    border: 2px solid white;
    border-radius: 1rem;
    /* margin: 5vh; */
    /* text-align: center; */
}

.front-page-title {
    padding: 5rem;
}

.front-page h1 {
    font-size: 10vw;
}

.front-page h2 {
    font-size: 7vw;
}

.front-page p {
    color:white;
    font-size: 10vw;
    /* cursor: url('../public/images/question_pointerPNG.png'), grab; */
}

.back-to-top p{
    text-decoration:none;
    color:white;
}



/****************  GAME  ****************/
#prologue {
    font-family: "Special Elite", sans-serif;
    padding: 10vw;
}

.dig-deeper {
    font-family: "Rock Salt", sans-serif;
    
}

/****************  GATE  ****************/
#gate {
    background-image: url('../public/images/gatePNG5.png');
    background-size: 93% 90%;
    background-position: top left;
}

#gate h3 {
    cursor: pointer;
}

.hotbar-item:hover {
    cursor: pointer;
}

.bottom-bar {
    border-top: 2px solid white;
    border-radius: 1rem;

    background-color: rgb(41, 35, 56);
    height: auto;
}

.character-commentary {
    font-family: "Sriracha", sans-serif;
}

.main-gate {
    min-height: 75vh;
}

.hotbar {
    background-color: rgb(84, 74, 111);
    border-left: 5px ridge white;
    border-bottom: 7px ridge white;
    min-height: 14.3%;
}

.hint-box {
    /* margin: 10px; */
    /* max-height: 80%; */
    border: 5px ridge white;
}


/****************  GARDEN  ****************/

#garden {
    background-image: url('../public/images/gardenPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

#garden h2 {
    color:black;
    text-shadow: 2px 2px 2px rgb(20, 69, 20);
}

#garden h3 {
    cursor: pointer;
}

.bushes {
    background-color: white;
}

.directions {
    margin-top: 20rem;
}



/****************  FOUNTAIN  ****************/
#fountain {
    background-image: url('../public/images/fountainPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

#fountain h2 {
    color: rgb(38, 59, 35);
}


/****************  FLOWER TUNNEL  ****************/
#flower-tunnel {
    background-image: url('../public/images/flowertunnelPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

#flower-tunnel h2 {
    color: rgb(38, 59, 35);
}

#flower-tunnel-buttons {
    margin-top: 20vh;
}

/****************  PLAZA  ****************/
#plaza {
    background-image: url('../public/images/plazaPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

#plaza h2 {
    color: rgb(51, 43, 125);
}

#mosaic {
    background-image: url('../public/images/mosaicPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}


.wall-fountain-buttons {
    margin-top: 45vh;
}

.back-button {
    margin-top: 45vh;
}

#wall-fountains {
    background-image: url('../public/images/statuesPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}


/****************  GAZEBO  ****************/
#gazebo {
    background-image: url('../public/images/gazeboPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

#gazebo h2 {
    color: rgb(51, 43, 125);
}

/****************  PORCH  ****************/
#porch {
    background-image: url('../public/images/porchPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

#porch h2 {
    color: rgb(51, 43, 125);
}


/****************  TELESCOPE NO LENS  ****************/
#telescope-no-lens {
    background-image: url('../public/images/telescopePNG.png');
    background-size: 93% 90%;
    background-position: top left;
}

.telescope-back-button {
    margin-top: 60vh;
}


/****************  TELESCOPE YES LENS  ****************/
#telescope-yes-lens {
    background-image: url('../public/images/telescopeWithKeyPNG.png');
    background-size: 93% 90%;
    background-position: top left;
}





/****************  SIGN UP OR LOG IN  ****************/

#signup-or-login{
    margin-top: 3vh;
    min-height: 95vh;
    min-width: 97vw;
}

#signUpForm {
    margin-left: 12vw;
    margin-right: 12vw;
}

#switch-signup-login:hover {
    text-decoration: underline;
    border-radius: 5px;
    /* color:black; */
    background-color: black;
    cursor:pointer;
}



/****************  END  ****************/
/* #start-over {

} */




/****************  FOOTER  ****************/
#footer {
    background-color: rgb(34, 34, 50);
    border: 2px solid rgb(34, 34, 50);
    color: white;
    position: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


#editUserButton:hover {
    color:rgb(217, 145, 20);
    /* text-shadow: 2px 0px whitesmoke; */
    cursor: pointer;
}


#logOutButton:hover {
    color:rgb(217, 145, 20);
    /* text-shadow: 2px 0px whitesmoke; */
    cursor: pointer;
}


